HeaderFilterRegex: 'include/uni-cpp/.*\.hpp$'
Checks: '-*,readability-identifier-naming,bugprone-*,clang-analyzer-*,performance-*'

CheckOptions:
  - key: readability-identifier-naming.DefaultCase
    value: lower_case
  - key: readability-identifier-naming.PrivateMemberPrefix
    value: m_
  - key: readability-identifier-naming.MacroDefinitionCase
    value: UPPER_CASE
  - key: readability-identifier-naming.TemplateParameterCase
    value: CamelCase