**/.DS_Store
.idea/
.vs/
.vscode/
build/
cmake-build-*/
prefix/
.clangd
CMakeLists.txt.user
CMakeUserPresets.json
compile_commands.json
dev/tools/**/temp/
dev/tools/**/output/
dev/tools/**/__pycache__/
ignore/